*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 14px;
    height: 100%;
}

body {
    background-size: cover !important;
    background: url(../images/bg-mobile.png) no-repeat;
    box-sizing: border-box;
    color: $pale-blue;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;

    @include respond(desktop) {
        background: url(../images/bg-desktop.png) $very-dark-blue;
        background-size: contain !important;
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-attachment: fixed;
    }
}